body{
    font-family: 'Arial', sans-serif;
    margin: 1rem auto;
    color: black;
    max-width: 1920px; /* Debe tener 1920px de ancho máximo */
    min-width: 375px; /* Debe tener 375px de ancho mínimo */
}

header{
    background-color: #faf2cc;
    margin: 0 1rem;
    padding: 1rem 0;
    color: #555;
    height: 100px;
}

h1{
    text-align: center;
    margin-top: 1em;
}

section{
    background-color: #d0e9c6;
    margin: 1rem;
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

article{
    padding: 1rem;
    background-color: #ebccd1;
    border: 1px solid #c23131;
}

section article:nth-child(4){
    grid-row-start: 2;
    grid-row-end: 4;
}

section article:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 4;
}

.card-header{
    display: flex;
    align-items: center;
}

.card-header figure{
    width: 2rem;
    margin: 0;
}

.card-header figure img{
    width: 100%;
}

.card-header h3{
    padding-left: 1rem;
}

.card-info{
    margin: 0;
    font-size: small;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #777;
}

.card-info a,
.card-info a:hover,
.card-info a:visited{
    color: black;
    text-decoration: none;
    font-style: italic;
}

footer{
    background-color: rgba(124, 172, 213, 0.26);
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
}

footer p{
    margin: 0;
}

article :nth-child(4) {
    @media screen AND (min-width:1290px), (max-width:1920px) {
        min-width: 50%;
    }
}
article :nth-child(5) {
    @media screen AND (min-width:1290px),(max-width:1920px) {
        min-width: 50%;
    }
}
article :nth-child(6) {
    @media screen AND (min-width:1290px),(max-width:1920px) {
        min-width: 50%;
    }
}
article :nth-child(7) {
    @media screen AND (min-width:1290px),(max-width:1920px) {
        min-width: 50%;
    }
}

article {
    @media screen AND (min-width:960px), (max-width:1289px)  {
        min-width: 50%;
    }
}
