.bg-green-500{
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.bg-red-600{
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.text-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hidden{
    display:none;
}
